<!doctype html>
<head>
    <title>Stop 180</title>
    <style>
        body {
            font-size: 14px;
            height: 100%;
            width: 100%;
        }

        table {
            height: 95%;
            width: 95%;
            text-align: center;
            border: 1px solid #000;
        }

        td, th {
            padding: 5px;
        }

        .via {
            margin-right: 5px;
        }

        .vias {
            margin-top: 5px;
        }
    </style>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li style=" list-style-type: none;"><h6 style="color: #ff0000;">{{ message }}</h6></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<table rules="rows">
<thead>
    <tr>
        <th>Nummer</th>
        <th>Richtung</th>
        <th>Geplante Zeit</th>
        <th>Tatsächliche Zeit</th>
    </tr>
</thead>
<tbody>
{% for info in stop.actual %}
    <tr>
        <td>{{ info.patternText }}</td>
        <td>
            <div>{{ info.direction }}</div>
            {% if info.vias %}
            <div class="vias">
                {% for via in info.vias %}
                <span class="via">{{ via }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </td>
        <td>{{ info.plannedTime }}</td>
        <td>{{ info.actualTime }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</body>
